@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400;500;600;800;900&display=swap');


.banner {
    width: 100%;
    height: 80vh;
    background-color: rgba(1, 23, 21, 0.876);
    background-size: cover;
    background-position: center center;
    background-image: url("/src/assets/pexels-garrett-morrow-3593986.jpg"); 
    }
    
    .banner-container {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    color: #cff3ffee;
    background-color: rgba(1, 25, 55, 0.495);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .banner-container h1 {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 50px;
    text-align: center;
    color: #cff3ff;
    }
    
    p{  
        font-size: 35px;
        color:#cff3ff ;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    h1, p{
        font-family: 'Orbitron', sans-serif;
    }

    .card{
        margin: 0 auto;
        margin-bottom: 15px;
        border: 1px solid #000;
        max-width: 340px;
        border-radius: 4px;
        text-align: center;
        position: static;
        
        
    }
    .card-body{
        max-width: 100%;
        max-height:100% ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        scroll-margin: 30ex;
        font-size: 15px;
        padding-top: 2rem;
        padding-bottom: 5rem; 
    }

    .nombreCard{
        font-size: 15px;
        font-weight:bold;
        text-transform: uppercase;
        color: #110120;
    }
    
    .precioCard{
        font-size: 18px;
        text-transform: uppercase; 
        color: #9313fc;
    }
    .card button {
        border: 0;
        margin: 15px 0;
        background-image: linear-gradient(to bottom, #12b7c7, #009ec5, #0084bf, #0069b3, #004c9f, #22409a, #373394, #47218a, #562197, #661fa4, #761ab1, #8810bd);
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 15px;
    }


    .container{
        margin: auto; 
        width: 50%;
        display:flex;
        padding-top: 2rem;
        flex-wrap: wrap;
        border-radius: 5px;
    }
    
    .Container-detail{
        padding-top: 5rem;
        padding-bottom:10rem ;
    
    }
    
    .Container-detail .card-detail{

        margin: auto; 
        width: 50%;
        display:flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-wrap: wrap;
        border-radius: 5px;
        padding-left: 1rem;
        padding-right: 2rem;
        border: solid #9313fc;
        background-color: rgba(0, 0, 0, 0.89);
    }
    
    .card-detail{
        margin:50px;
        font-size: 18px;
        padding-bottom: 5rem;
    }
    .card-detail .img-detail{
        width: 65%;
        margin-left:100px;
        padding-top: 1rem;
        margin-bottom:1rem ;
    }
    
    .card-body-detail{
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-weight: 600;
        
    }
    
    .nombreCard-detail{
        font-size: 16px;
        text-transform: uppercase;
        color: #fefefe;
    }
    .modeloCard-detail{
        font-size: 16px;
        text-transform: uppercase;
        color: #fefefe;
    }
    .precioCard-detail{
        font-size: 20px;
        text-transform: uppercase; 
        color: #13d1fc;
    }
    
    .stockCard-detail{
        font-size: 16px;
        text-transform: uppercase; 
        color:#9313fc ;
    }
    
    
    
    .card-footer-detail{
        text-align: center;
        padding-right: 100px;
        padding-bottom: 2rem;
        
        
    }
    
    .card-footer-detail button{
        border: 0;
        margin: 15px 0;
        background-image: linear-gradient(to bottom, #12b7c7, #009ec5, #0084bf, #0069b3, #004c9f, #22409a, #373394, #47218a, #562197, #661fa4, #761ab1, #8810bd);
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 15px;
    
    }
    
    .card-footer-detail button:hover{
        background-color: #13d1fc;
        color: #f7f5f8 ;
        font-weight: 600;
        border-radius: 50px;
    }

    
    .card img{
        width: 70%;
        margin-left:55px;
        padding-top: 5rem;
        margin-bottom:1rem ;
        
    }
    
    
    .card-footer{
        text-align: center;
        
    }
    .card-footer  button{
        min-width: 50%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        background-color: rgb(78, 10, 142);
    
    }
    
    .card-footer button:hover{
        background-color:#9313fc;
    
    }
    
    .cargando{
        font-size: 35px;
        font-weight: 700;
    }
    
    @media (max-width: 900px) {
        .container .card{
            min-width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .card{
            margin: 25px;
        
        }
        
        .card img{
            width: 50%;
            }
        
        .card-footer{
            width: 100%;
            font-size: 12px;
            
        }
        .card-footer button{
        width: 50%;
    
        
        }
        .Container-detail .card-detail{
            min-width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 6rem;
        }
        
        .card-detail{
            margin: 25px;
        }
        .card-detail .img-detail{
            width: 90%;
            padding-right: 100px;
        }
    
        }

    @media screen and (max-width: 600px) {
        .banner{
            width: 100%;
            height:80%;
        }
        .banner-container{
            width: 100%;
            height: 50vh;
        }
        h1{
            font-size: 20px
        }
        p {
            font-size: 15px;
        }

    .container .card{
        min-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .card{
        margin: 25px;
    
    }
    
    .card img{
        width: 80%;
        padding-right: 20%;
        }
    
    .card-footer{
        width: 100%;
        font-size: 12px;
        
    }
    .card-footer button{
    width: 50%;
    }
    
    .Container-detail .card-detail{
        min-width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 6rem;
    }
    
    .card-detail{
        margin: 25px;
    }
    .card-detail .img-detail{
        width: 110%;
        margin: 30px;
        padding-right: 10px;
    }
    
    .nombreCard-detail{
        font-size: 12px;
        text-transform: uppercase;
        color: #fefefe;
        
    }
    .modeloCard-detail{
        font-size: 12px;
        text-transform: uppercase;
        color: #fefefe;
    }
    .precioCard-detail{
        font-size: 16px;
        text-transform: uppercase; 
        color: #13d1fc;
    }
    
    .stockCard-detail{
        font-size: 12px;
        text-transform: uppercase; 
        color:#9313fc ;
    }
    
        
    }