@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400;500;600;800;900&display=swap');


    .navbar {
    width: 100%;
    padding: 8px;
    background-color: #110120;
    position: fixed;

    }

    .navbar ul{
        float: right;
    }
    
    .navbar ul li {
    display:inline-block;
    line-height: 100px;
    margin: 0 35px;
    cursor:pointer;

    }
    
    .navbar ul li  {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 0 20px;
    text-transform: uppercase;
    color: #f6f6f6;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 2s;
    }
    
    .navbar ul li:hover {
        border-radius: 0 5px;
        padding: 20px;
        font-weight: bold; 
        color: #13d1fc;
    
        }
    
    .active{
    margin: auto;
    color:#9313fc;
    padding: 10px;
    }
    
        .navbar .logo-game{
        width: 130px;
        padding: 0;
        padding-right: 10px;
        padding-left: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        margin: 0 35px;
        }

        .nav_toggle{
            display: none;
        }
    
        @media (max-width: 1000px) {
        .navbar{
            max-width: 100%;
        }

        ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #110120;
        }

        .navbar .logo-game{
            width: 100px;
            padding-left:0.5rem ;
            margin: 0 5px;
        }

        .navbar ul li:hover {

            transition: none;
            background: none;
            color:#13d1fc;
            }

            .active {
            background: none;
            color: #9313fc;
            }
    
        }


        @media (max-width: 600px) {
        .navbar{
            max-width: 100%;
        }
        /* .links{
            position: absolute;
            top: 60px;
            left: 0;
            background: #9313fc;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: -webkit-fill-available;
            transform: translate(-100%);
            transition: 0.3s w;
        } */
        ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #110120;
        }

        .navbar .logo-game{
            width: 100px;
            padding-left:0.5rem ;
            margin: 0 5px;
        }

        .navbar ul li a:hover {

            transition: none;
            background: none;
            color:#13d1fc;
            }

            .active {
            background: none;
            color: #9313fc;
            }
            .nav_toggles{
                width: 100px;
            }
            .nav_toggle span{
                width: 30px;
                height: 4px;
                background: #f6f6f6;
                margin-bottom: 5px;
                border-radius: 2px;
                transform-origin: 5px 0px;
                transition: all 0.2s linear;
            }
            .nav_toggle.open > span{
                transform: rotate(45deg) translate(0px, 0px);    
            }
            .nav_toggle.open > span{
                transform: rotate(45deg) translate(0px, 0px);
            }
            .nav_toggle.open > span:nth-child(2){
                display: none;
            }
            .nav_toggle.open > span:nth-child(3){
                transform: rotate(-45deg) translate(-5px, 1px);
            }
    
        }